body {
	background: #ccc;
	margin: 0;
}

.container{
	margin: 0 auto;
	width: 700px;
	padding-top: 150px;
	background: #fff url(../images/alton-brown-onion-dip.jpg) no-repeat top center;
	border-top: 10px solid #424242;
}


.recipe{
	padding: 20px 40px;
	background: #fff
	
}

.list{
	border: 5px double #EEE8AA;
	width: 300px;
	background: #E6E6FA;
}

.text{
	outline: #DAA520 dotted thick;
	background: #E6E6FA;
}

.headings{
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	background: #228B22;
	text-align: center;
}
